<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aac163">  <td>22/03/23 16:52:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ShopperJourney_Parallel.labSauceDemo_C()[pri:0, instance:userJourney.ShopperJourney_Parallel@12c8a2c0]">labSauceDemo_C</td> 
  <td>TestNG-test=Test-1@688766789</td>   <td></td> </tr>
<tr bgcolor="aac163">  <td>22/03/23 16:52:15</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ShopperJourney_Parallel.labSauceDemo_F()[pri:0, instance:userJourney.ShopperJourney_Parallel@12c8a2c0]">labSauceDemo_F</td> 
  <td>TestNG-test=Test-2@24606376</td>   <td></td> </tr>
</table>
